html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: #f9f9f9;
}

main {
    width: 100%;
    max-width: 700px;
    /* Centraliza o conteúdo horizontalmente, as margens em cima e embaixo são 0 e auto são as laterais */
    margin: 0 auto;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header img {
    width: 100px;
}

h1 {
    font-family: "Fjalla One", sans-serif;
    font-size: 2rem;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

fieldset {
    padding: 15px;
    border: 1px solid #cccccc;
    margin-bottom: 15px;
    border-radius: 5px;
}

legend {
    font-weight: bold;
    font-size: 18px;
    padding: 0 10px;
}